
/*Common*/
.center {
    display: block;
    text-align: center;
}
.inline {
    display: inline-block;
}
.body {
   /* max-width: 1280px; */
    margin: auto;
}
.container {
   /* max-width: 956px; */
}
/*Main-header*/ 
.main-header {
    background-color: #00c6ff;
    color: #fff;
}
.main-header .logo {
    display: block;
    width: 135px;
}
.header-nav .nav-item .nav-link {
    color: #fff;
}
.header-nav .nav-item {
    position: relative;
}
.header-nav .nav-item::before {
    width: 80%;
    left: 10%;
    content: '';
    background-color: red;
    position: absolute;
    bottom: -15px;
}
.header-nav .nav-item:hover::before {
    height: 2px;
}
.header-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: #fff;
}
.header-nav .nav-item.active .nav-link {
    font-weight: bold;
    color: #fff;
}
.header-nav .nav-item.active::before {
    width: 80%;
    left: 10%;
    content: '';
    background-color: red;
    position: absolute;
    bottom: -15px;
    height: 2px;
}
.btn-search {
    color: #fff;
    background-color: transparent;
    font-size: 20px;
}
.language-bar .language {
    margin:5px;
}
.language-bar::before {
    content: "";
    width: 1px;
    height: 18%;
    background-color: #fff;
    position: absolute;
    top: 45%;
    right: 84px;
}

/*Main Slide*/
.main-slide {
    color: #fff;
    position: relative;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-slide .slide .image{
    width: 100%;
    padding-bottom: 18%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-slide .slide {
    width: 100%;
}
.main-slide .slide .desc {
    position: absolute;
    bottom: 91px;
}
.main-slide .slide .desc h3 {
    font-size: 70px;
}
.main-slide .slide .desc h4 {
    font-size: 40px;
    margin-top: 10px;
}

/*Projects*/
.projects {
    margin-bottom: 80px;
}
.projects h3 {
    margin-top: 80px;
    margin-bottom: 50px;
    color:#113c71;
    font-weight: bold;
}
.project-list {
    
    display: block;
    width: 100%;
}
.project-list .project {
    background-color: #d4d4d4;
    width: 100%;
    margin-bottom: 30px;
    color: #000000;

}
.project-list .project .image {
    width: 100%;
    height: auto;
}
.project-list .project .image img {
    width: 100%;
}
.project-list .project .desc {
    padding: 20px;
    font-size: 16px;
}
.project-list .project .desc h4 {
    font-weight: bold;
}
.project-list a .project:hover {
    background-color:   #113c71;
    color: #fff;
}

/*Partners*/
.partners {
    background-image: url(../images/unicorn/partners/background.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   padding-bottom: 5%;
}
.partners h3 {
    color:#113c71;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 50px;
}

/*Footer*/
.footer {
    background-color: #d4d4d4;
}
.footer .copyright {
    color: #565656;
    font-size: 16px;
    padding-left: 0;
}
.footer .navbar-grey .nav-item {
    position: relative;
    padding:0 10px;
}
.footer .navbar-grey .nav-item::before {
    width: 1px;
    height: 40%;
    content: '';
    background-color: #565656;
    position: absolute;
    right: 0;
    top: 33%;
}
.footer .navbar-grey .nav-item:last-child {
    padding-right: 0;
}
.footer .navbar-grey .nav-item:last-child::before {
    content: none;
}
.footer .navbar-grey .nav-item .nav-link {
    color: #565656;
}
.footer .navbar-grey .nav-item.active .nav-link {
    color: #565656;
}

.footer .navbar-grey .nav-item .nav-link:hover {
    font-weight: bold;
}
@media screen and (min-width: 971px) and (max-width: 1170px) {
    .main-slide .slide .desc {
        bottom: 30px;
    }
}
@media screen and (max-width: 970px) {
    .main-slide .slide .desc {
        bottom: 0;
    }
    .main-slide .slide .desc h3 {
        font-size: 40px;
    }
    .main-slide .slide .desc h4 {
        font-size: 25px;
    }

    .header-nav .nav-item.active::before {
        content: none;
    }
    .header-nav .nav-item::before {
        content: none;
    }
    .language-bar::before {
        content: none;
    }
    .footer .navbar-grey .nav-item::before {
        content: none;
    }
    .language-bar {
        display: block;
    }
    .language-bar .language {
        display: inline-block;
    }
}
@media screen and (max-width: 768px) {
    .main-slide .slide .desc h3 {
        font-size: 20px;
    }
    .main-slide .slide .desc h4 {
        font-size: 16px;
    }
}