
/*Body*/

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    color: #212529;
    width: 1px;
    font-size: 14px;
    min-width: 100%;
    background-color: #f5f8fa;
    letter-spacing: 0;
}
.body {
    padding-top: 49px;
}

/* Common*/
a {
    color: #3097D1;
    text-decoration: none;
    background-color: transparent;
}
h6 {
    font-weight: bold;
}
strong {
    font-weight: 700;
}

.post {
    margin-top: 40px;
}

.block {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}
.padding {
    padding: 20px;
}
.margin {
    margin-bottom: 24px;
}
.padding-2 {
    padding: 24px;
}
.right {
    float: right;
}
.gray {
   color: #868e96;
}



/*Navbar*/
.navbar {
    font-weight: 400;
    position: fixed;
    top: 0;
    right: 0;
    padding: 7px 14px;
    left: 0;
    z-index: 1000;
    background-color: #3097D1;
}
.navbar .logo {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 16px;
    font-size: 20px;
    line-height: inherit;
    white-space: nowrap;
}
.navbar .logo img {
    width: 85px;
}
.navbar .main-menu {
    display: block;
    height: auto;
    padding-bottom: 0;
    margin-right: auto;
}
.navbar .main-menu .menu {

    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}.navbar .main-menu .menu .link {
    display: inline-block ;
    vertical-align: middle;
    margin:0 5px;
}
.navbar .main-menu .menu .link a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.navbar .main-menu .menu .active a{
    color: #ffffff;
}
.navbar .main-menu .menu .link a:hover {
    color: rgba(255, 255, 255, 0.75);
}
.navbar .search {
    display: inline-block;
}
.navbar .notification-bar {
    display: inline-block;
    list-style-type: none;
}
.navbar .notification-bar .notification {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 0;
}
.navbar .notification-bar .notification li {
    display: inline-block;
    vertical-align: middle; 

}
.navbar .notification-bar .notification .noti {
    margin: 0 5px;
}
.navbar .notification-bar .notification .notice .notice-icon{
    color: rgba(255, 255, 255, 0.5);
}
.navbar .notification-bar .notification .notice .notice-icon::before {
    font-size: 20px;
    content: "\f0f3";
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Fontawesome';
}
.navbar .notification-bar .notification .notice .notice-icon:hover::before {
    color: rgba(255, 255, 255, 0.75);
}
.navbar .notification-bar .notification .thumb-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}



/*Profile sidebar*/

.cover {
    height: 150px;
    background-size: cover;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.profile .content {
    text-align: center;
    padding:20px;
}
.profile .content img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.profile .content .name {
    margin-bottom: 10px;
}
.profile .content .name a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}
.profile .content .desc {
    margin-bottom: 24px;
    font-size: 14px;
}
.profile .content .friends {
    list-style: none;
    padding: 0;
}
.profile .content .friends .number {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #d4dbe0;
}
.profile .content .friends .number a{
    color: inherit;
    text-decoration: inherit;

}
.profile .content .friends .number h6 {
    margin:0;
    font-weight: bold;
}
.profile .content .friends .number:last-child {
    border: 0;
}

/*Description*/
.description .title {
    margin-bottom: 16px;
}
.description .description-content {
    padding-left: 0;
    list-style: none;
    font-size: 14px;
}
.description .description-content li {
    margin-bottom: 5px;
}
.description .description-content li .content {
    margin-right: 5px;
}
.description .description-content li .one::before {
    position: relative;
    content: "\f133";
    top: 2px;
    display: inline-block;
    font-family: "Fontawesome";
}
.description .description-content li .two::before {
    position: relative;
    content: "\f007";
    top: 2px;
    display: inline-block;
    font-family: "Fontawesome";
}
.description .description-content li .three::before {
    position: relative;
    content: "\f113";
    top: 2px;
    display: inline-block;
    font-family: "Fontawesome";
}
.description .description-content li .four::before {
    position: relative;
    content: "\f015";
    top: 2px;
    display: inline-block;
    font-family: "Fontawesome";
}
.description .description-content li .five::before {
    position: relative;
    content: "\f041";
    top: 2px;
    display: inline-block;
    font-family: "Fontawesome";
}
.gallery-images {
    box-sizing: border-box;
}
.gallery-images .image {
    width: 100%;
    height: auto;
}
.gallery-images .image img {
    width:100%;
    margin-bottom: 10px;
 
}

/*Post Description*/

.post-description {
    padding-left: 0;
    list-style: none;
    font-size: 14px;
}
.post-description li:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.post-description li:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.post-description .input-group {
    position: relative;
    display: flex;
    width: 100%;
}
.post-description .input-group input {
    font-size: 14px;
}
.post-description .input-group .camera {
    margin-left: -1px;


}
.post-description .input-group .camera .btn {
    background-color: #d4dbe0;
    border-color: #d4dbe0;
    font-size: 16px;    
    color: #111;
    padding: 8px 10px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.post-description .input-group .camera span::before {
    position: relative;
    top: 2px;
    font-size: 16px;
    display: inline-block;
    font-family: 'Fontawesome';
    content: '\f030';
}
.post-description-content {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #fff;
    background-clip: border-box;
}
.post-description-content:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.comment {
    margin: 20px 0;
}
.gallery-comment .image {
    width: 100%;
    padding: 0 5px;
    height: auto;
}
.gallery-comment .image img {
    width: 100%;
    height: 140px;
}
/*About*/

.alert {
    padding: 12px 20px;
    margin-bottom: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #7d5a29;
    background-color: #fcefdc;
    border-color: #fbe8cd;
    display: block;
}
.alert .close {
    position: relative;
    top: -11px;
    right: -22px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.sponsored-image {
    width: 100%; 
    height: auto;
    margin-bottom: 10px; 
    margin-right: 0px; 
}
.blue-btn {
    color: #3097D1;
    background-color: transparent;
    background-image: none;
    border-color: #3097D1;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 2px
}
.blue-btn:hover{
    color: #fff;
    background-color: #3097D1;
}
.padding-title {
    padding-top: 20px;
    padding-left: 20px;
}
.friends-likes {
    list-style: none;
}
.follow span::before {
    content: "\f234";
    font-family: "Fontawesome";
    position: relative;
    top: 2px;
    display: inline-block;
}
.thumb-avatar {
    width: 60px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 10px;
}
.friend .name {
   display: inline-block;
   vertical-align: top;
}
.friend .name .follow {
    margin:5px 0;
} 
.notice-friend {
    padding: 12px 20px;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.notice-friend:last-child {
    border-radius: 0 0 calc(4px - 1px) calc(4px - 1px);
}

.keyword a {
    margin-right: 3px;
}